
{% extends 'base.html' %}
{% load static %}
{% block title %}Coding Probems{% endblock %}
{% block titlea %} {% endblock %}
{% block content %}


<br><br><br>
<div class="container">

<table class="table table-dark" style="border:1px solid black;">

    <thead>
        <tr style="margin:center">
            <th scope="col";><h2 style="color: coral; letter-spacing: 1px;float: left; position: relative; left: 50px">Problem No.</h2></th>
            <th scope="col";><h2 style="color: coral; letter-spacing: 1px;float: left; position: relative; left: 125px">Problem Name</h2></th>
            <th scope="col";"><h2 style="color: coral; letter-spacing: 1px;float: left; position: relative; left: 110px">Solve</h2></th>
        </tr>
    </thead>

    <tbody>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">1.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Three Number Sum</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="{% url 'problem' %}">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">3.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Reversed Linked List</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="http://tpcg.io/lFM4MNLc
">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">4.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Max Path Sum Binary Tree</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="https://www.jdoodle.com/python3-programming-online/">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">5.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Min Number Of Jumps</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="/view_problem/1">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">6.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Youngest Common Ancestor</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="/view_problem/1">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">7.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Find Kth Largest Value in BST</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="/view_problem/1">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">7.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Shift Linked List</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="/view_problem/1">Click Here</a></h5></td>
      </tr>



    </tbody>

</table>

</div>

<br><br><br><br>


  {% endblock %}
