
{% extends 'base.html' %}
{% load static %}
{% block title %}Coding Probems{% endblock %}
{% block titlea %} {% endblock %}
{% block content %}


<br><br><br>
<div class="container">

<table class="table table-dark" style="border:1px solid black;">

    <thead>
        <tr style="margin:center">
            <th scope="col";><h2 style="color: coral; letter-spacing: 1px;float: left; position: relative; left: 50px">Problem No.</h2></th>
            <th scope="col";><h2 style="color: coral; letter-spacing: 1px;float: left; position: relative; left: 125px">Problem Name</h2></th>
            <th scope="col";"><h2 style="color: coral; letter-spacing: 1px;float: left; position: relative; left: 110px">Solve</h2></th>
        </tr>
    </thead>

    <tbody>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">1.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Three Number Sum</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="{% url 'ThreeNumberSum' %}">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">3.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Product Sum</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="{% url 'ProductSum' %}">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">4.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Remove Kth Element From The End</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="{% url 'RemoveKthElementFromTheEnd' %}">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">5.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Validate BST</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="{% url 'ValidateBST' %}">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">6.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Move Element To End</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="{% url 'MoveElementToEnd' %}">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">7.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Number Of Ways To Make Change</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="{% url 'NumberOfWaysToMakeChange' %}">Click Here</a></h5></td>
      </tr>

      <tr style="margin:center">
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 50px">7.</h5></td>
          <td scope="row";><h5 style="color: white;float: left; position: relative; left: 125px">Single Cycle Check</h5></td>
          <td scope="row";"><h5 style="color: white;float: left; position: relative; left: 110px"><a style="text-decoration: underline;" href="{% url 'SingleCycleCheck' %}">Click Here</a></h5></td>
      </tr>



    </tbody>

</table>

</div>

<br><br><br><br>


  {% endblock %}
