{% extends 'base.html' %}
{% load static %}
{% block title %}Recommended Videos{% endblock %}
{% block titlea %} {% endblock %}
{% block content %}

    <!-- Hero End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img big-img" style="background-image: url({% static 'website/assets/img/gallery/gallery1.png' %});"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Binary Tree</h3>
                                <a href="https://www.youtube.com/watch?v=MEOEjipxzI8&list=PLsFNQxKNzefJNztGGoQC-59UhSwIaiIW3&index=21"><i class="ti-hand-point-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img big-img" style="background-image: url({% static 'website/assets/img/gallery/gallery2.png' %});"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Recursion</h3>
                                <a href="https://www.youtube.com/watch?v=ngCos392W4w"><i class="ti-hand-point-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img big-img" style="background-image: url({% static 'website/assets/img/gallery/gallery3.png' %});"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Time and Space Complexity</h3>
                                <a href="https://www.youtube.com/watch?v=D6xkbGLQesk"><i class="ti-hand-point-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img big-img" style="background-image: url({% static 'website/assets/img/gallery/gallery4.png' %});"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Stack and Queue</h3>
                                <a href="https://www.youtube.com/watch?v=A3ZUpyrnCbM"><i class="ti-hand-point-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img big-img" style="background-image: url({% static 'website/assets/img/gallery/gallery5.png' %});"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Git and Github</h3>
                                <a href="https://www.youtube.com/watch?v=RGOj5yH7evk"><i class="ti-hand-point-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img big-img" style="background-image: url({% static 'website/assets/img/gallery/gallery6.png' %});"></div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h3>Python for beginners</h3>
                                <a href="https://www.youtube.com/watch?v=rfscVS0vtbw"><i class="ti-hand-point-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
